# Configuração Passenger / Python (cPanel / CloudLinux)

SetEnv SECRET_KEY "troque-por-uma-chave-secreta-longa"
SetEnv FLASK_DEBUG "1"
SetEnv DEBUG "1"
SetEnv FLASK_ENV "development"

PassengerEnabled On
PassengerAppRoot "/home/ailson/robo.etegaranhuns.com.br"
PassengerBaseURI "/"
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py
PassengerFriendlyErrorPages on
